<%= form_tag "/createorder" do %>
<p style="color: green"><%= notice %></p>

 <div class="service-card" style="margin: 0 auto; margin-top: 40px; margin-bottom: 40px;">
    <div class="row">
<div style="display: flex; justify-content: space-between;">
  <h1>Hello!</h1>
  <div style="text-align: right;">
    <h2><i class="bi bi-basket" style="cursor:pointer"></i></h2>
  </div>
</div>

<h2> Order services to your room! </h2>
<div class="cards-container">
<div class="login-card2">
  <h3>Room cleaning</h3>
  <h5>Schedule when you want us to clean your room</h5>
  <hr>
  <br>
  <% @cleaning.each do |c| %>
  <div class="cleaning-schedule">
    <%= radio_button_tag(:cleaning, c.id) %>
    <%= label_tag("cleaning_#{c.name.downcase}", c.name, style: 'font-size: 20px;') %>
  </div>
<% end %>

 <div class="image-container">
  <%= image_tag("roomservice.png", alt: "roomservice", width: 200, height: 200, class: "roomservice-image") %>
</div>
</div>
<div class="login-card2">
  <h3>Food </h3>
  <h5>Check out today's food selection!</h5>
  <hr>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
  <% @food.each do |f| %>
    <div class="item
    <% if (f.id == 1) %>
      <%= "active" %>
    <% end %>">
      <div class="card">
      <% if (f.id == 3) %>
        <%= image_tag("breakfast.png", alt: "breakfast", width:"300", height:"200") %>
      <% end %>
      <% if (f.id == 1) %>
        <%= image_tag("lunch.png", alt: "lunch", width:"300", height:"200") %>
      <% end %>
      <% if (f.id == 2) %>
        <%= image_tag("vegantaco.jpeg", alt: "taco", width:"300", height:"200") %>
      <% end %>
        <div class="card-body">
          <h4 class="card-title"> <%= f.name%></h4>
          <p class="card-text"> <%= f.price %>€</p>
          <div class="order" style ="text-align: center;">
         <%= check_box_tag('order[]', f.id) %>
          <%= label_tag(:order, 'Order', style: 'font-size: 20px;') %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<div class="login-card2" style="width:375px">
<h3>Activities</h3>
  <h5>Sign up for an activity!</h5>
  <hr>
<% @activity.each do |a| %>
  <div class="activity">
    <%= check_box_tag('activity[]', a.id) %>
    <%= label_tag("activity_#{a.name.downcase}", a.name, style: 'font-size: 20px;') %>
    <label><%= a.price %>€</label>
  </div>
<% end %>

  <div class="image-container">
  <%= image_tag("yoga.png", alt: "roomservice", width: 300, height: 210, class: "roomservice-image") %>
</div>
</div>

<div class="login-card2">
<h3>Drinks </h3>
  <h5>Order something to drink!</h5>
  <hr>
  <div id="myCarousel2" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
  <% @drink.each do |d| %>
    <div class="item
    <% if (d.id == 4) %>
      <%= "active" %>
    <% end %>">
      <div class="card">
      <% if (d.id == 4) %>
        <%= image_tag("coffee.jpeg", alt: "coffee", width:"300", height:"200") %>
      <% end %>
      <% if (d.id == 6) %>
        <%= image_tag("blackcoffee.jpeg", alt: "blackcoffee", width:"300", height:"200") %>
      <% end %>
      <% if (d.id == 7) %>
        <%= image_tag("juice.jpeg", alt: "juice", width:"300", height:"200") %>
      <% end %>
        <div class="card-body">
          <h4 class="card-title"><%= d.name%></h4>
          <p class="card-text"><%= d.price%>€</p>
          <div class="order" style ="text-align: center;">
          <%= check_box_tag('order[]', d.id) %>
          <%= label_tag(:order, 'Order', style: 'font-size: 20px;') %>
          </div>
        </div>
      </div>
    </div>
<% end%>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel2" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div>
</div>

<div class="form-group">
    <div class="actions">
                <%= submit_tag "Submit your order", class:"login-button" %>
        </div>
    </div>
  </div>

<% end %>