<div id="<%= dom_id order %>">
  <p>
    <strong>Service:</strong>
    <%= order.service_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= order.user_id %>
  </p>

  <p>
    <strong>Priceatpurchase:</strong>
    <%= order.priceAtPurchase %>
  </p>

  <p>
    <strong>Receipt:</strong>
    <%= order.receipt_id %>
  </p>

</div>
